<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="top-header">
                <div class="logo"> 
                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form-input" action="#" method="GET">
                        <input class="search" type="search" name="busqueda" placeholder="Buscar productos, marcas y más"><i class="fa fa-search"></i>
                </div>
                <div class="copy-header">
                    <h2>
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </h2>
                </div>
            </div>
            <a href="#" class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </a>
            <nav class="main-navbar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <form action="/" method="GET" class="form-registro">
                    <div>
                        <label for="nombre">Nombre y apellido:</label>
                        <input type="text" name="nombre" id="nombre" required class="input-registro">
                    </div>
                    
                    <div>
                        <label for="usuario">Nombre de usuario:</label>
                        <input type="text" name="usuario" id="usuario" required class="input-registro">
                    </div>

                    <div>
                        <label for="fechaNacimiento">Fecha de nacimiento:</label>
                        <input type="date" name="fechaNacimiento" id="fechaNacimiento" required class="input-registro">
                    </div>
                    

                   <div>
                        <label for="domicilio">Domicilio:</label>
                        <input type="text" name="domicilio" id="nombre" required class="input-registro">
                   </div>

                   <div>
                        <label for="perfilUsuario">Perfil de usuario:</label>
                        <input type="radio" name="perfilUsuario" id="perfilUsuario" value="Comprador">Comprador
                        <input type="radio" name="perfilUsuario" id="perfilUsuario" value="Vendedor">Vendedor
                   </div>
                    

                    <div class="multiple">
                        <label for="categorias">Categorias de interés:</label>
                        <input type="checkbox" name="categorias" value="Electro">Electro
                        <input type="checkbox" name="categorias" value="Moda">Moda
                        <input type="checkbox" name="categorias" value="Hogar">Hogar
                        <input type="checkbox" name="categorias" value="Jugueteria">Jugueteria
                        <input type="checkbox" name="categorias" value="Vida sana">Vida sana
                    </div>

                    <div>
                        <label for="imagenPerfil">Foto de usuario:</label>
                        <input type="file" name="imagenPerfil" id="imagenPerfil" accept=".jpg, .png" class="input-registro">
                    </div>

                    <div>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" name="contrasena" id="contrasena" required class="input-registro">
                    </div>

                    <div>
                        <label for="confirContrasena">Confirmar contraseña:</label>
                        <input type="password" name="confirContrasena" id="confirContrasena" required class="input-registro">
                    </div>

                    <button type="submit">Enviar</button>
                    <button type="reset">Borrar</button>
                </form>
            </section>
        </main>
        <footer>
            <div class="caja-footer">
                <div>
                    <i class="fas fa-credit-card"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                     <p>
                         Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                
                <div>
                    <i class="fas fa-gift"></i>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                
                <div>
                    <i class="fas fa-user-shield"></i>
                    <h5>Seguridad, de principio a fin</h5>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </div>
            </div>
            <div class="copy-footer">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>  
        </footer>  
        
    </body>
</html>