* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-size: 12px;
    font-family: 'Roboto';
    background-color: #ebebeb;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

main article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copy-header {
    font-weight: 400;
    text-align: center;
    align-self: flex-end;
    margin: 15px 0px;
}

.logo {
    width: 50%;
    
}

.form-input {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 15px;
}

.fa-search {
    background-color: white;
    color: #667;
    height: 10px;
    border-radius: 1px;
    position: relative;
    top: 10px;
    left: -15px;
}

.search {
    height: 30px;
    width: 100%;
    border: white solid 1px;
    border-radius: 5px;
}

.burger-menu {
    background-color: #0044AA;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

h2 {
    font-size: 12px;
    font-weight: 250;
}

main {
    margin: auto;
    width: 90%;
}

main article {
    margin-bottom: 10px;
}

.main-article {
    border: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}

article {
    background-color: white;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 90%;
    bottom: 30px;
}

.fa-truck {
    color: #39b54a;
    transition: all;
    transition-duration: 1s;
}

.fa-truck:hover {
    transform: rotate(-90deg);
}

h3 {
    font-size: 24px;
    color: #667;
    margin-bottom: 10px;
}


.description {
    color: white;
    margin-top: 20px;
}

.description:hover {
    color: #667;
}

.price {
    font-size: 18px;
    flex-grow: 0.3;
}

.discount {
    color: #39b54a;;
}

.discount, .description {
    font-size: 16px;
}

.price-discount {
    display: flex;
}


.form-registro, .form-login{
    margin: 0 auto;
    padding: 30px 0;
}


.form-registro div, .form-login div {
    margin: 8px 0;
}

.form-registro label, .form-login label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;
}

.form-registro input, .form-login input {
    border: none;
    border-radius: 5px;
}

.input-registro {
    width: 100%;
    padding: 5px;
}

form button {
    border: none;
    border-radius: 3px;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    color: white;
    background-color: #0044AA;
}


.copy-footer {
    text-align: left;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 15px;
    background-color: white;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #0044AA;
}


@media (min-width: 768px ) {

    .copy-header {
        max-width: 350px;
        font-weight: 400px;
        text-align: center;
    } 

    .top-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }


    .logo {
        width: 30%;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {
        width: 300px;
        margin: 10px 0px;
    }

    h3 {
        margin-bottom: 10px;
    }



    .burger-menu {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    main article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .description {
        display: block;
    }

    
}



@media (min-width: 1200px) {

    

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {
        width: 250px;
        margin: 10px 0px;
    }

    h3 {
        margin-bottom: 10px;
    }

    
    .top-header, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .top-header {
        align-items: center;
    }

    
    .copy-header {
        font-weight: 400;
        text-align: center;
        align-self: center;
        margin: 15px 0px;
    }

    .logo {
        width: 250px;
    }

    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 15px;
        font-weight: 300;
    }

    .main-navbar {
        margin-top: 40px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;
    } 

    .input-registro {
        max-width: 468px;
        padding: 5px;
    }
    
    .form-registro, .form-login {
        margin-left: 25%;
    }

    form button {
        border: none;
        border-radius: 3px;
        max-width: 468px;
        margin: 5px 0;
        padding: 8px;
        color: white;
        background-color: #0044AA;
    }

    
    footer {
        text-align: center;
        margin-top: 60px;
        font-size: 15px;
        background-color: white;
    }

    .caja-footer {
        display: flex;
    }

    .i-footer {
        display: flex;
    }
    
    footer i {
        font-size: 2em;
        margin-bottom: 10px;
        color: #0044AA;
    }

    footer i:hover {
        color: #EAC926;
    }
}

